main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 200px;
}

#logo{
    width: 100px;
    float: right;
}

nav{
    margin-top: 20px;
}

#coca{
    height: 10rem;
    width: 10rem;
}