#inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 12.5rem;
}

#logo{
    width: 6.25rem;
    float: right;
}

nav{
    margin-top: 1.25rem;
}

.imagem-produto{
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#produto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;  
}

button{
    background-color: #03bb85;
    color: #ffff;
    border-style: none;
    width: 20rem;
    border-radius: 2rem;
}