main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 12.5rem;
}

#logo{
    width: 6.25rem;
    float: right;
}

nav{
    margin-top: 1.25rem;
}

#coca{
    height: 10rem;
    width: 10rem;
}